<%- include ('FrontEndHeader')%>
    <!-- Product List Start -->
    <div class="product-view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-view-top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="product-search">
                                            <input type="email" value="Search">
                                            <button><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="product-short">
                                            <div class="dropdown">
                                                <div class="dropdown-toggle" data-toggle="dropdown">Product short by
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="FrontendAssets/#" class="dropdown-item">Newest</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">Popular</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">Most sale</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="product-price-range">
                                            <div class="dropdown">
                                                <div class="dropdown-toggle" data-toggle="dropdown">Product price range
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="FrontendAssets/#" class="dropdown-item">$0 to $50</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$51 to $100</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$101 to $150</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$151 to $200</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$201 to $250</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$251 to $300</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$301 to $350</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$351 to $400</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$401 to $450</a>
                                                    <a href="FrontendAssets/#" class="dropdown-item">$451 to $500</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%for(let p of product ){%>
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="FrontendAssets/#">
                                            <%=p.title%>
                                        </a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="FrontendAssets/product-detail.html">
                                            <img src="/uploads/<%=p.image%>" alt="Product Image"
                                                style="height:300px;object-fit: scale-down;">
                                        </a>
                                        <div class="product-action">
                                            <a href="FrontendAssets/#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="FrontendAssets/#"><i class="fa fa-heart"></i></a>
                                            <a href="FrontendAssets/#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span><%=p.price%></h3>
                                        <a class="btn" href="/productdetail/<%=p._id%>"><i
                                                class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>

                    <!-- Pagination Start -->
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="FrontendAssets/#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="FrontendAssets/#">1</a></li>
                                <li class="page-item"><a class="page-link" href="FrontendAssets/#">2</a></li>
                                <li class="page-item"><a class="page-link" href="FrontendAssets/#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="FrontendAssets/#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination Start -->
                </div>

                <!-- Side Bar Start -->
                <div class="col-lg-4 sidebar">
                    <!-- <div class="sidebar-widget category">
                        <h2 class="title">Category</h2>
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-female"></i></a>
                                </li>


                            </ul>
                        </nav>
                    </div> -->

                    <div class="sidebar-widget widget-slider">
                        <div class="sidebar-slider normal-slider">
                            <%for(let p of product){%>
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="FrontendAssets/#"><%=p.title%></a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="FrontendAssets/product-detail.html">
                                        <img src="/uploads/<%=p.image%>" alt="Product Image" style="height: 300px;object-fit: scale-down;">
                                    </a>
                                    <div class="product-action">
                                        <a href="FrontendAssets/#"><i class="fa fa-cart-plus"></i></a>
                                        <a href="FrontendAssets/#"><i class="fa fa-heart"></i></a>
                                        <a href="FrontendAssets/#"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3><span>$</span><%=p.price%></h3>
                                    <a class="btn" href="/productdetail/<%=p._id%>"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                </div>
                            </div>
                            <%}%>
                            
                        </div>
                    </div>

                    <div class="sidebar-widget brands">
                        <h2 class="title">Our Brands</h2>
                        <ul>
                            <li><a href="FrontendAssets/#">Nulla </a><span>(45)</span></li>
                            <li><a href="FrontendAssets/#">Curabitur </a><span>(34)</span></li>
                            <li><a href="FrontendAssets/#">Nunc </a><span>(67)</span></li>
                            <li><a href="FrontendAssets/#">Ullamcorper</a><span>(74)</span></li>
                            <li><a href="FrontendAssets/#">Fusce </a><span>(89)</span></li>
                            <li><a href="FrontendAssets/#">Sagittis</a><span>(28)</span></li>
                        </ul>
                    </div>

                    <div class="sidebar-widget tag">
                        <h2 class="title">Tags Cloud</h2>
                        <a href="FrontendAssets/#">Lorem ipsum</a>
                        <a href="FrontendAssets/#">Vivamus</a>
                        <a href="FrontendAssets/#">Phasellus</a>
                        <a href="FrontendAssets/#">pulvinar</a>
                        <a href="FrontendAssets/#">Curabitur</a>
                        <a href="FrontendAssets/#">Fusce</a>
                        <a href="FrontendAssets/#">Sem quis</a>
                        <a href="FrontendAssets/#">Mollis metus</a>
                        <a href="FrontendAssets/#">Sit amet</a>
                        <a href="FrontendAssets/#">Vel posuere</a>
                        <a href="FrontendAssets/#">orci luctus</a>
                        <a href="FrontendAssets/#">Nam lorem</a>
                    </div>
                </div>
                <!-- Side Bar End -->
            </div>
        </div>
    </div>
    <!-- Product List End -->

    <!-- Brand Start -->
    <!-- Brand End -->
    <div class="brand">
        <div class="container-fluid">
            <div class="brand-slider">
                <div class="brand-item"><img src="FrontendAssets/img/brand-1.png" alt=""></div>
                <div class="brand-item"><img src="FrontendAssets/img/brand-2.png" alt=""></div>
                <div class="brand-item"><img src="FrontendAssets/img/brand-3.png" alt=""></div>
                <div class="brand-item"><img src="FrontendAssets/img/brand-4.png" alt=""></div>
                <div class="brand-item"><img src="FrontendAssets/img/brand-5.png" alt=""></div>
                <div class="brand-item"><img src="FrontendAssets/img/brand-6.png" alt=""></div>
            </div>
        </div>
    </div>
    <%- include ('FrontEndFooter')%>